body
{
	background-image: url("new background.jpeg");
}

#game_page {
	background-image: url("Dolphin_back..jpeg");
}

#mathHeading {
	color: aqua;
}

	.login1 , .login2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	
}

#output {
	background-color: white;
	border-radius: 10px;
	border-top: 10px solid magenta;
	padding: 10px;
	float: none;
	text-align: left;
}