body
{
	background-image: url("new background.jpeg");
	text-align: left;
}

#mathHeading {
	color: aqua;
}

	.login1 , .login2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	
}
